.page-link {}
@media (min-width: 1500px) {
    #markdown-toc {
        position: relative;
        left: -320px;
        top: 25px;
        height: 0;
        max-width: 300px;
        margin: 0;
        padding: 0;
    }
}